/* CSS files add styling rules to your content */

body {
  font-family: Tahoma, arial, sans-serif;
  color: #fff;
  margin: 2em;
  background: #000;
}


h2{
  color:red;
  
}

hr{
  margin-left:-20px;
  margin-right:-20px;
  margin-top:20px;
}

.form-item{
  
  margin-right:20px;
}

.button-row{
  
  margin-top:40px;
}

.btn{
  
  color:#f3efed;
  background:#2478af;
  box-shadow: 2px 2px 4px #86868c;
  border-color:#86868c;
  border-radius:15px;
  
}

